body	{background-image: url("../images/bg.png");
			 background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: cover;	
	
}

#content {
	text-align: center;
	height: 100%;
}

#UI_CALL_CARD_container {
	position:absolute;
	top:1vh;
	z-index:10;
	margin: auto;
	height: 98vh;
	width: 99vw;
	background-color:rgba(0, 0, 0, 0.5);
}

#UI_CALL_CARD_menu {
	margin: auto;
	margin-top: 5%;
	background-color:rgba(216, 216, 216);
	height: 75vh;
	width: 50vw;
}

#hand {
	/* border: 2px solid #ff00d4; */
	margin: auto;
	margin-top: 5%;
	width: 75vw;
	padding: 1px;
	display: flex;
	justify-content: center;
	flex: 3 3 auto;
}
#stich {
	border: 2px solid #00eeff; 
	margin: auto;
	margin-top: 2%;
	height: 40vh;
	width: 95vw;
	display: flex;
	justify-content: center;
	flex: 0 3 auto;
}
.card {
	display: right;
	margin: auto;
	max-width:16vw;
	max-height:26vh;
	width: auto;
	height: auto;
	/* border: 2px solid #ff0000; */
}

#sortButton {
	
	justify-content: center;
	margin-top: 3%;
	
    background-color: rgb(222, 224, 223); 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
	border: 2px solid #3ca1ff;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
	font-weight: bold;
}

#sortButton:hover {
    background-color: #2194ff;
	border: 2px solid #00152e;
    color: rgb(0, 0, 0);
	font-weight: bold;
}

#callButton {
	
	justify-content: center;
	margin-top: 3%;
	margin-left: 15%;
    background-color: rgb(255, 188, 167); 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
	border: 2px solid #eb2d0b;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
	font-weight: bold;
}

#callButton:hover {
    background-color: #c23d1c;
	border: 2px solid #00152e;
    color: rgb(0, 0, 0);
	font-weight: bold;
}

.callCardSuit {
	display: right;
	position: relative;
	top: 4vh;
	max-width:100vw;
	max-height:100vh;
	width: auto;
	height: auto;
	/* border: 2px solid #ff0000; */
}

.callCardRanks {
	display: right;
	margin: auto;
	max-width:16vw;
	max-height:26vh;
	width: auto;
	height: auto;
	/* border: 2px solid #ff0000; */
}